body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}

.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal__active{
  display: flex;
}
.modal__content {
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
  
.modal__button{
    display: inline-block;
    width: 100px;
    margin-left: 250px;
}
