textarea {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.clear{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    border: 0;
    transition: all 0.1s ease;
}

.clear:hover{
    background-color: rgba(255, 0, 0, 0.514);
}
